/* Definición de la fuente personalizada */
@font-face {
  font-family: 'Early GameBoy';
  src: url('/fonts/EarlyGameBoy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  /* Asegura que la base ocupe toda la pantalla */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Usamos el mismo color de fondo oscuro que tu header/emulador para evitar líneas blancas si algo falla */
  background-color: #ffffff;
  overscroll-behavior: none;
}

/* Hacemos que la app raíz sea un contenedor flexible que ocupe TODA la pantalla */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}